main {
    background-color: #FFFFF5;
    height: 100vh;

    .main-container {
        height: calc(100vh - @overlay-height);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & > header {

            .headline {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px;

                h1 {
                    margin: 0;
                    font-size: calc(1.8*@font-size);
                }

                .quantity {
                    margin-left: 1%;
                    padding: 0 0.4em;
                    font-size: calc(1.3*@font-size);
                }
            }

            .filters {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                input[type="radio"] {
                    display: none;

                    &:checked + .filter {
                        background-color: @main-color;
                        color: @element-text-color;
                    }
                }

                .filter {
                    margin: 0 5px;
                    padding: 10px;
                    border-radius: 5px;
                    color: @main-color;
                    transition: all ease 0.1s;
                    cursor: pointer;
                }
            }
        }

        .pizza-container {
            width: 90%;
            margin: 20px 0;
            display: grid;
            justify-content: center;
            gap: 20px;
            grid-template-columns: repeat(3, fit-content(1.2 * @card-image-size));

            @media (max-width: 1500px) {
                grid-template-columns: repeat(2, fit-content(1.2 * @card-image-size));
            }

            @media (max-width: 1100px) {
                grid-template-columns: fit-content(1.2 * @card-image-size);
            }
        }

        & > footer {
            flex: 0 0 130px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            padding: 1em;
            color: #757575;
            border-top: 1px solid @border-color;
            background: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
    
            p {
                text-align: center;
                &:first-of-type {
                    margin: 0 0 10px 0;
                }
    
                &:last-of-type {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}