.order {
    --order-image-size: 100px;
    --control-button-size: 32px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    min-height: calc(1.2 * var(--order-image-size));
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid @border-color;

    @media (max-width: 750px) {
        --control-button-size: 20px;
    }

    @media (max-width: 600px) {
        --order-image-size: 80px;
    }

    @media (max-width: 500px) {
        --order-image-size: 70px;
        --control-button-size: 18px;
    }

    @media (max-width: 375px) {
        --order-image-size: 60px;
        --control-button-size: 16px;
    }


     & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        width: calc(95% - var(--order-image-size)/2);
        padding: 15px;
        
        @media (max-width: 500px) {
            width: calc(100% - var(--order-image-size)/2);
            padding: 10px;
        }

        @media (max-width: 375px) {
            padding: 5px;
        }


        & > * {
            width: 100%;
        }

         .name {
            color: @main-color;
            font-size: calc(1.45*@font-size);
            margin: 0;
        }

         .measures {
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 5px 0;

             div:last-of-type {
                margin: 5px 20px;
            }
        }

         .control-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;

            .control-btn {
                font-size: @font-size;
                font-weight: bold;
                border: 1px solid;
                border-radius: 100%;
                width: var(--control-button-size);
                height: var(--control-button-size);
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            & > span {
                width: 37.5%;
            }

            & > div {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .amount-btns {
                width: calc(85% - var(--control-button-size));
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 500px) {
                    width: calc(90% - var(--control-button-size));
                }

                @media (min-width: 2200px) {
                    width: calc(75% - var(--control-button-size));
                }
            }

            .amount {
                margin: 0 5px;

                @media (max-width: 750px) {
                    margin: 0 2px;
                }
            }

            .decrease-btn {
                color: @element-text-color;
                border-color: #C13129;
                background: linear-gradient(to bottom, #DB524B, #BD2B22);
                &:hover {
                    background: linear-gradient(to bottom, #db3e36, #bb180f);
                }
            }

             
            .increase-btn {
                color: @element-text-color;
                border-color: #429841;
                background: linear-gradient(to bottom, #56B855, #3E983C);
                &:hover {
                    background: linear-gradient(to bottom, #41b43f, #288326);
                }    
            }

             
            .delete-btn {
                color: @main-color;
                border-color: #D5D5D5;
                background: linear-gradient(to bottom, #FDFDFD, #E1E1E1);
                &:hover {
                    background: linear-gradient(to bottom, #f7f7f7, #d2d2d2);
                }    
            }
        }
    }

     & > img {
        position: absolute;
        width: var(--order-image-size);
        height: var(--order-image-size);
        right: calc(var(--order-image-size) * -0.5);
    }
}